# Ignore Python and XBlock related files
*.pyc
*.egg-info


# Ignore CSS, Sass cache & Map File
wireframe/public/sass
wireframe/public/.sass-cache
*.map
*.sass-cache
*.sass-cache/*

# Ignore Private.py file where social media credentials are stored
private.py